.TweeteCloneMainContainer {
  /* border: 1px solid red; */
  /* position: relative; */
  /* height: 100vh; */
}

/* navbar styles */
.TweeteCloneMainNavBar {
  display: flex;
  justify-content: space-between;
  background: #fff;
  /* padding: 10px 0; */
  /* border: 1px solid red; */
  /* position: fixed; */
  /* width: 100%; */
}

.Brand {
  /* border: 1px solid orange; */
  display: flex;
  margin-left: 40px;
  padding: 10px 0;
}

.NavLink {
  /* border: 1px solid red; */
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.NavLink2 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  /* position: absolute;
  bottom: 0;
  z-index: 2; */
  /* position: relative; */
  /* padding-bottom: 50px; */
}

/* .TweeteCloneMainContainer .NavLink2 {
  position: absolute;
  bottom: 0px;
} */

.LinkItem {
  padding: 0 15px 10px 15px;
  margin: 0;
  color: #828282;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.035em;
}

.LinkItem:hover {
  cursor: pointer;
}

.UserMenu {
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  /* width: 10%; */
}

.userPhoto {
  width: 32px;
  height: 35px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UserName {
  margin: 0 15px 0 5px;
  font-size: 14px;
}

.UserMenu i {
  cursor: pointer;
  color: #333333;
}

.userMenuDropDown {
  display: none;
  /* opacity: 0; */
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: absolute;
  z-index: 2;
  top: 60px;
  right: 40px;
  width: 172px;
  /* transition: opacity 0.5s ease-in-out; */
}

.MenuOptions {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 5px 10px;
  padding: 7px 0 7px 7px;
  cursor: pointer;
  /* background: #f2f2f2; */
}

.MenuOptionTop {
  margin-top: 10px;
}

.MenuOptionBottom {
  margin-bottom: 20px;
}

.MenuOptions:hover {
  background: #f2f2f2;
}

.MenuOptions i {
  color: #4f4f4f;
  font-size: 18px;
  margin-right: 7px;
}

.MenuText {
  /* border: 1px solid red; */
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.MenuOptionBottom i,
.MenuOptionBottom p {
  color: #eb5757;
}

hr {
  margin: 15px 10px;
  border: 1px solid #e0e0e0;
}

.tweetActionMsgs {
  /* border: 1px solid blue; */
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px 2px 0 5px; */
  border-radius: 5px;
  padding: 8px;
  background: #d1e7dd;
  opacity: 0.8;
  position: absolute;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 45px;
}

.actionMsg {
  margin: 0;
}

.tweetActionMsgs i {
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (max-width: 850px) {
  .Brand {
    margin-left: 10px;
  }

  .NavLink {
    display: none;
  }

  .UserMenu {
    /* border: 1px solid purple; */
    margin-right: 10px;
  }

  .UserName {
    display: none;
  }
}
